doctype html
head
  meta(charset="utf-8")
  link(rel="icon", href="/public/favicon.ico", type="image/x-icon")
  title Cerulean Map Viewer

  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/public/assets/cerulean.min.css')
  link(rel='stylesheet', href='/public/assets/style.css')

  script(src='/jquery/dist/jquery.js')
  script(src='/bootstrap/dist/js/bootstrap.js')
  script(src='/masonry/masonry.js')

  block head

body
  header.navbar.navbar-inverse.navbar-fixed-top
    .container
      .row
        .col-sm-3.col-md-2
          form.navbar-form
            input.form-control(type="text", placeholder="Filter Maps")

  section.contianer-fluid
    .row
      nav.sidebar.col-sm-3.col-md-2#accordion
        ul.nav.sidebar-nav
          each area in main_array
            li
              a(data-toggle="collapse" data-parent="#accordion" href="##{area.id}") #{area.title}

              .collapse(id="#{area.id}")
                ul
                  each map in area.maps
                    li
                      a.js-group(data-title="#{map.title}" data-width="#{map.x}", data-height="#{map.y}") #{map.title}

      main.main.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
        //- pre #{JSON.stringify(maps_array)}
        block main

script.

  $(function () {
    $('.js-group').on('click', function (e) {
      var $this = $(this)
      var width = $(this).data('width') * 64

      $('#map-name').text($this.data('title')).next('.hide').removeClass('hide')
      $('#map-link').attr('href', '/map/' + $this.data('title'))

      $('#iframe')
        .removeAttr('style')
        .attr('src', '/map/' + $this.data('title'))
        .attr('data-src', $this.data('title'))
        .width(width)
        .height($this.data('height') * 64)

      resizeMap()
    })
    window.onresize = resizeMap
  })
  function resizeMap() {
    var title = $('#iframe').data('src')
    var map = $('[data-title="' + title + '"]')
    var width = map.data('width') * 64
    var $mapview = $('#map-view')

    if (width > $mapview.width()) {
      $('#iframe').css('transform', 'scale(' + $mapview.width() / width + ')')
    }
  }
